SPRING_APPLICATION_NAME=Home360-server

#POSTGRES_USER=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_LOCAL_PORT=5432
POSTGRES_DOCKER_PORT=5432

MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_DATABASE=home360dev
MONGODB_LOCAL_PORT=27017
MONGODB_DOCKER_PORT=27017

PROD_MONGODB_USER=
PROD_MONGODB_PASSWORD=
PROD_MONGODB_DATABASE=home360dev
PROD_MONGODB_LOCAL_PORT=27017
PROD_MONGODB_DOCKER_PORT=27017
PROD_MONGODB_URI=

SPRING_LOCAL_PORT=8080
SPRING_DOCKER_PORT=8080

PROD_POSTGRES_USER=
PROD_POSTGRES_PASSWORD=
PROD_POSTGRES_DATABASE=
PROD_POSTGRES_DATABASE_URL=

# Mailgrid Mail
SPRING_EMAIL_HOST=
SPRING_EMAIL_PORT=
SPRING_EMAIL_USERNAME=
SPRING_EMAIL_PASSWORD=
SPRING_EMAIL_SENDER_NAME=Home360
SPRING_EMAIL_SENDER_ADDRESS=

# JWT Secret
SPRING_SECRET_KEY=
SPRING_TOKEN_EXPIRATION_MILLISECONDS=1800000

# CORS
SPRING_PROD_ALLOWED_ORIGINS=
SPRING_ALLOWED_ORIGINS=http://localhost:3000

# Frontend urls
SPRING_FRONTEND_URL=http://localhost:3000
SPRING_PASSWORD_RESET_REQUEST=http://localhost:3000/auth/password-reset-request
SPRING_RESET_PASSWORD=http://localhost:3000/auth/reset-password
SPRING_VERIFY_EMAIL=http://localhost:3000/auth/email-verify
SPRING_USER_LISTINGS_URL=http://localhost:3000/listings/userlistings

SPRING_PROD_FRONTEND_URL=
SPRING_PROD_PASSWORD_RESET_REQUEST=
SPRING_PROD_RESET_PASSWORD=
SPRING_PROD_VERIFY_EMAIL=
SPRING_PROD_USER_LISTINGS_URL=

# Redis
SPRING_PROD_REDIS_URL=

# Sentry
SPRING_SENTRY_DSN_URL=
SENTRY_AUTH_TOKEN=